{% extends 'layout.twig' %}

{% block body %}
    <p>As a builder, I should be able to...</p>
    <ul>
        <li>list existing Pizzas GET /pizzas/list
        <li>create a new Pizza POST /pizzas {ingredient_list}
        <li>create toppings that can be added to a Pizza 
        <li>list the toppings I can to add to a Pizza
        <li>add a topping to a pizza
        <li>list toppings on a pizza
    </ul>
{% endblock %}
