{% extends 'layout.twig' %}

{% block body %}
    <p>Howdy Pizza Builders! With this demo, you should be able to...</p>
    <ul>
        <li>create a <a href="/pizza/new">new pizza</a>
        <li><a href="/pizza/list">list existing pizzas</a>

        <li><a href="/topping/new">create a new topping</a> that can be added to a Pizza 
        <li><a href="/topping/list">list toppings</a> that are available

        <li>add a topping to a pizza (pick a pizza on the <a href="/pizza/list">pizza list</a> first)
        <li>list toppings on a pizza (pick a pizza on the <a href="/pizza/list">pizza list</a> first)
    </ul>
{% endblock %}
