{% extends 'layout.twig' %}

{% block body %}
    <div class="pull-right">
        <img src="/img/pizza.png"/>
    </div>
    <h1>Pizza Client Demo</h1>
    <h3>Use this site to <a href="/pizza/create">build a pizza</a> with your favorite toppings!</h3>
    <p>Need <a href="/help">help</a>? Get it <a href="/help">here</a>.</p>
    
    <h2>Why Orange?</h2>
    <p>It's my favorite color.</p>
    
    <h3>How was this built?</h3>
    <ul>
        <li><a href="http://silex.sensiolabs.org/documentation">Silex</a></li>
        <li><a href="http://twig.sensiolabs.org/doc/api.html">Twig</a></li>
        <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
        <li><a href="http://www.initializr.com/">HTML5 Initializr</a></li>
        <li><a href="https://github.com/guzzle/guzzle">Guzzle</a></li>
        <li><a href="http://www.github.com/">Git</a></li>
    </ul>
{% endblock %}
