{% extends 'layout.twig' %}    

{% block body %}

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="pull-right">
                <img src="/img/pizza.png" style="width:43%;padding-top:2em;"/>
            </div>
            <h1>Let's make a pizza!</h1>
            <p class="warning">All fields are required.</p>
            <form id="createpizza" method="post" action="/pizza/">
              <fieldset class="form-group">
                <label for="name">What do you want to call your pizza?</label>
                <input type="name" class="form-control" id="name" placeholder="Enter a cool name!">
                <small class="text-muted"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                Be creative! Funny and clever pizza names are memorable and improve sales.</small>
              </fieldset>
              <fieldset class="form-group">
                  <label for="description">Describe your <span id="pizzaname">amazing pie<span> here...</label>
                <textarea class="form-control" id="description" rows="3"></textarea>
                <small class="text-muted"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                The more descriptive, the better. It will make it much easier to find your pizza later.</small>
              </fieldset>
              <button type="submit" class="btn btn-primary">Next, add some toppings &gt;</button>
            </form>
        </div> 
    </div>
    <div class="col-lg-1 col-lg-offset-11">
        <a class="btn btn-orange" href="/pizza/list" role="button">I give up!</a>
    </div>
    

<script type="text/javascript">
$(document).ready(function () {
  $('#createpizza').submit(function(event){
    event.preventDefault();      
    var name = $('#name').val();
    var desc = $('#description').val();
    if (name === '' || desc === '') {
        var message = '';
        if (name==='' && desc==='') {
            message = 'Seriously? A pizza with no name or description? It\'ll be super hard to order that one. Try adding some details.';
        } else if (name==='') {
            message = 'Really? A pizza with no name? Give your pizza a name before adding toppings.';
        } else if (desc==='') {
            message = 'Hungry customers will want to know what\'s on the '+name+'. Give it a short description before adding toppings.';
        }

        BootstrapDialog.show({
            title: 'Whoops!',
            type: BootstrapDialog.TYPE_WARNING,
            message: message,
            buttons: [{
                label: 'Alrighty then',
                action: function(dialog) {
                    dialog.close();
                }
            }]
        });
    } else {
        
        var data = {
            'pizza' : {
                'name' : name,
                'description': desc
            }
        };
        var url = '/pizza/create';
        var jqxhr = $.post( url, data, function(response) {
            //console.log(response);
          })
          .done(function(response) {
            //console.log(response);
          })
          .fail(function(response) {
            //console.log(response);
            BootstrapDialog.show({
                title: 'Dang It! '+response.statusText,
                type: BootstrapDialog.TYPE_WARNING,
                message: response.responseJSON.error,
                buttons: [{
                    label: 'Sigh',
                    action: function(dialog) {
                        dialog.close();
                    }
                }]
            });
          })
          .always(function() {
            //alert( "finished" );
        });

        // Perform other work here ...

    }
  });
});
</script>

{% endblock %}
 