{% extends 'layout.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-1">
                <h1>Pizza List</h1>
                <ul>
                    {% for pizza in pizzas %}
                        {% if pizza.name is not empty %}
                            <li>{{ pizza.id }}) <strong><a href="/pizza/edit/{{pizza.id}}">{{ pizza.name|lower|title }}</a></strong> <em>{{ pizza.description }}</em>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-1 col-lg-offset-1">
                <a class="btn btn-orange" href="/pizza/new" role="button">Create a Pizza</a>
            </div>
            <div class="col-lg-1 col-lg-offset-1">
                <a class="btn btn-orange" href="/topping/new" role="button">Create a Topping</a>
            </div>
        </div>
        <div class="col-lg-1 col-lg-offset-9">
            <a class="btn btn-orange" href="/pizza/new" role="button">Create a Pizza</a>
        </div>
        <div class="col-lg-1 col-lg-offset-1">
            <a class="btn btn-orange" href="/topping/new" role="button">Create a Topping</a>
        </div>
    </div>
{% endblock %}
